---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import Experience from "../components/Experience.astro";
import Investors from "../components/Investors.astro";
import Contact from "../components/Contact.astro";
---

<Layout>
  <main class="min-h-screen bg-white dark:bg-gray-900 transition-colors duration-300">
    <div class="space-y-0 pb-16">
      <Hero />
      <Services />
      <Experience />
      <Investors />
      <Contact />
    </div>
  </main>
</Layout>
